.panelEffects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 55px;
  //display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;

  //s:nth-child(3n + 2) {
  //s  margin-left: 55px;
  //s  margin-right: 55px; /* Цвет фона */
  //s}

  .Effect {
    width: 300px;
    background-color: black;

    //:last-child {
    //  margin-top: 0px;
    //}

    .paramEffect {
      margin-bottom: 30px;
      .paramName {
        color: white;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 200;
      }
    }
  }
}
