.ToggleSwitch {
  display: inline-block;
  //width: 150px;
  width: 300px;
  height: 30px;
  background-color: #242424;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  font-weight: 200;
  color: white;

  //&.sine {
  //  color: red;
  //}
  //&.square {
  //  color: green;
  //}
  //&.sawtooth {
  //  color: blue;
  //}
  //&.triangle {
  //  color: pink;
  //}

  &.on {
    color: black;
    background-color: #b38fff;

    #orange {
      background-color: #ff7020;
    }

    #pink {
      background-color: #ff49d7;
    }

    #lilac {
      background-color: #b38fff;
    }

    #acid {
      background-color: #7cff5b;
    }

    #blue {
      background-color: #a8cbff;
    }
  }
}
